.container {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    grid: repeat(13, 100px) / repeat(9, 10%);
  }

.place {
    border-radius: 12px;     
    background: #323b4b;
    transition: 2s;
    color: white;
    text-align: center;
}

.place:hover {
    scale: 120%;
    transition: 2s;
    cursor: pointer;
    border: 2px solid white;
}

.NC4_P1 {
    grid-area: 1 / 1 / span 1 / span 2;
}

.NC4_P2 {
    grid-area: 1 / 3 / span 1 / span 2;
}

.SC4_P1 {
     grid-area: 1 / 6 / span 1 / span 2;
}

.SC4_P2 {
    grid-area: 1 / 8 / span 1 / span 2;
}

.NC4_P3 {
    grid-area: 2 / 1 / span 1 / span 2;
}

.NC4_P4 {
    grid-area: 2 / 3 / span 1 / span 2;
}

.SC4_P3 {
   grid-area: 2 / 6 / span 1 / span 2;
}

.SC4_P4 {
    grid-area: 2 / 8 / span 1 / span 2;
}

.NC3_P1 {
    grid-area: 4 / 1 / span 1 / span 2;
}

.NC3_P2 {
    grid-area: 4 / 3 / span 1 / span 2;
}

.SC3_P1 {
     grid-area: 4 / 6 / span 1 / span 2;
}

.SC3_P2 {
    grid-area: 4 / 8 / span 1 / span 2;
}

.NC3_P3 {
    grid-area: 5 / 1 / span 1 / span 2;
}

.NC3_P4 {
    grid-area: 5 / 3 / span 1 / span 2;
}

.SC3_P3 {
   grid-area: 5 / 6 / span 1 / span 2;
}

.SC3_P4 {
    grid-area: 5 / 8 / span 1 / span 2;
}

.NC2_P1 {
    grid-area: 7 / 1 / span 1 / span 2;
}

.NC2_P2 {
    grid-area: 7 / 3 / span 1 / span 2;
}

.SC2_P1 {
     grid-area: 7 / 6 / span 1 / span 2;
}

.SC2_P2 {
    grid-area: 7 / 8 / span 1 / span 2;
}

.NC2_P3 {
    grid-area: 8 / 1 / span 1 / span 2;
}

.NC2_P4 {
    grid-area: 8 / 3 / span 1 / span 2;
}

.SC2_P3 {
   grid-area: 8 / 6 / span 1 / span 2;
}

.SC2_P4 {
    grid-area: 8 / 8 / span 1 / span 2;
}

.NC1_P1 {
    grid-area: 10 / 1 / span 1 / span 2;
}

.NC1_P2 {
    grid-area: 10 / 3 / span 1 / span 2;
}

.SC1_P1 {
     grid-area: 10 / 6 / span 1 / span 2;
}

.SC1_P2 {
    grid-area: 10 / 8 / span 1 / span 2;
}

.NC1_P3 {
    grid-area: 11 / 1 / span 1 / span 2;
}

.NC1_P4 {
    grid-area: 11 / 3 / span 1 / span 2;
}

.SC1_P3 {
   grid-area: 11 / 6 / span 1 / span 2;
}

.SC1_P4 {
    grid-area: 11 / 8 / span 1 / span 2;
}

.E_P1 {
    grid-area: 13 / 1 / span 1 / span 2;
}

.E_P2 {
   grid-area: 13 / 3 / span 1 / span 2;
}

.E_P3 {
    grid-area: 13 / 5 / span 1 / span 2;
}